name: 'Azure Login And Build Project And Make-Push Docker IMG'

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: 'Checkout backend repository'
      uses: actions/checkout@v3
      with:
        repository: CardVisor/BackEnd
        path: ./backend
        token: ${{ secrets.REPO_PAT }}
        
    - name: 'Mk yml'
      run: | 
        touch ./src/main/resources/application.yml
        echo "${{ secrets.APPLICATION_YML }}" > ./src/main/resources/application.yml
        cat ./src/main/resources/application.yml 
      working-directory: ./backend/CardVisor
      
    - name: 'Set up JDK 17'
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'adopt'
        
    - name: 'Build backend with Gradle'
      run: chmod +x ./gradlew && ./gradlew clean build -x test
      env:
          CI: "false"
      working-directory: ./backend/CardVisor
    
    # React build NODE
    - name: 'Checkout frontend repository'
      uses: actions/checkout@v3
      with:
        repository: CardVisor/FrontEnd
        ref: 'hwasoo'
        path: ./frontend
        token: ${{ secrets.REPO_PAT }}
    - name: 'Set up .env for frontend'
      run: |
        touch ./.env
        echo "REACT_APP_BACKEND_URL=http://backend:7777" > ./.env
      working-directory: ./frontend
      
    - name: 'Set up Node.js'
      uses: actions/setup-node@v3
      with:
        node-version: '14' 

    - name: 'Install frontend dependencies and build'
      run: |
        npm install
        npm run build
      env:
          CI: "false"  
      working-directory: ./frontend
  
    - name: 'Azure Container Login AND Build and push Docker image'
      uses: azure/docker-login@v1
      with:
        login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}  
    - run: |
        docker build -t ${{ secrets.REGISTRY_LOGIN_SERVER }}/cardvisor-backend:latest -f ./backend/.github/workflows/Dockerfile .
        docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/cardvisor-backend:latest
        docker build -t ${{ secrets.REGISTRY_LOGIN_SERVER }}/cardvisor-frontend:latest -f ./frontend/Dockerfile .
        docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/cardvisor-frontend:latest
        
    #    docker build -t ${{ secrets.REGISTRY_LOGIN_SERVER }}/cardvisor:latest -f ./backend/.github/workflows/Dockerfile .
    #    docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/cardvisor:latest
